
<div style="color:blue">

<h1>Child Component</h1>
<!-- 
<h2>Following data from Parent to Child</h2>
<h2> {{myInput}}</h2>

</div>

<h2>Sending Data from Child to Parent</h2>

<button type="button" (click)="sendData()">Send Data to Parent</button> -->

<h2>Following data from Parent to Child:</h2>

<ul>

  <li>ID: {{myInput.id}}</li>
  <li>Name: {{myInput.name}}</li>
  <li>Age: {{myInput.age}}</li>
  <li>Salary: {{myInput.salary}}</li>

</ul>

<h2>Sending Data from Child to Parent</h2>

<button type="button" (click)="sendData()">Send Data to Parent</button>